jupyter
numpy
pandas
matplotlib
seaborn
scikit-learn
torch
ray[rllib]==2.7.0rc0
pettingzoo[butterfly,mpe]==1.24.1
pymunk==6.2.0
imageio[ffmpeg]==2.31.3
# supersuit==3.7.0
wandb
gputil
torchviz
torchview==0.2.6
torcheval